# Python
__pycache__/
*.pyc
*.pyo

# Databricks
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Databricks temporary files
.databricks/

# Spark temporary files
_metastore/
spark-warehouse/

# Secrets
secrets.json
config.json